  /********************************* NAVIGATION ****************************************/
.navigationWrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    font-family: OpenSans-Light;
    border-bottom: 1px solid $border;
}
.navigationList{
    display: flex;
    margin-top: 10px;
    li {
      @media(max-width: 526px){
        margin-top:10px;
    }
      &:not(:last-child){
          margin-right: 20px;
      }
      a{
        cursor: pointer;
        color:$light;
        font-family: OpenSans-Light;
        font-size: 14px;
        &:hover{
          color:#000;
        }
      }
    }
  }
  .notifications{
    span{
        display: inline-block;
        cursor: pointer;
        background: $icons-background;
        padding: 6px;
        &+ span{
            margin-left: 10px;
        }
    }

    @media(max-width: 624px){
      margin-top:20px;
    }
  }
  /********************************* LOGO WRAPPER ************************************/
  .logoWrapper{
      display: flex;
      margin-top: 20px;
  }
  .logoName{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    h2{
        font-family: OpenSans-Bold;
        margin-top: 4px;
        font-size: 24px;
        span{
            font-family: OpenSans-Light;
        }
    }
    h6{
        font-family: OpenSans-Light;
        font-size: 15px;
    }
  }
  .intranet{
    font-family: OpenSans-Bold;
    align-self: flex-end;
    margin-left: 22px;
    font-size: 24px;
    h2{
      margin-bottom: -3px;
    }
  }

  /******************************** HEADER ***********************************/
.headerWrapper{
    padding: 25px 0;
    background: #9E419C;
    margin: 20px 0 30px;
}
.headerList{
    display: flex;
    align-items: center;

    li {
      @media(max-width: 526px){
        margin-top:10px;
    }
      &:not(:last-child){
          margin-right: 20px;
      }
      a{
        cursor: pointer;
        color:#fff;
        font-family: OpenSans-Bold;
        font-size: 16px;
        &:hover{
          color:#000;
        }
      }
    }
  }
  .header{
      display: flex;
      justify-content: space-between;
  }
.searchForm{
      @media(max-width: 826px){
        margin-top:20px;
    }
    div{
        position: relative;
        overflow: hidden;
        input{
            width: 260px;
            height: 40px;
            border: none;
            padding: 0 33px 0 5px;
        }
        button{
            position: absolute;
            right: -3px;
            background: $icons-background;
            height: 100%;
            padding-top: 4px;
        }
    }
}