.widget{
    max-width: 380px;
    border: solid 1px #dae4ee;

     .accordion{
        &+ .accordion{
            margin-top:10px;
        }
    }
}
.widgetName{
    color:$orange;
    font-size: 16px;
    font-family: OpenSans-Bold;
}
.widgetHeader{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.header-part-one{
    display: flex;
    i{
        background: $icons-background;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 10px;
    }
    .widgetName{
        align-self: center;
        margin-left: 10px;
    }
}
.header-part-two{
    display: flex;
    i{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;

        &:last-of-type{
            background: $icons-background;
        }
    }
}
.widget-footer{
    background: $widget-footer;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p{
        font-family: OpenSans-Light;
        color:$light;
        align-self: center;
        margin-left: 15px;
    }
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 15px;
        background: $widget-header;
    }
}
/**************************** ACCORDION *****************************/
.accordion-header{
    display: flex;
    justify-content: space-between;
    background: $icons-background;
    padding: 15px 12px;
}
.accordion-body{
    font-family: OpenSans-Regular;
    font-size: 14px;
    padding:20px;
}
/**************************** EVENEMENTEN *****************************/
.evenementen{
    padding: 30px 20px;
    div{
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 15px;

        &:not(:last-child){
            border-bottom: 1px solid $border;
        }
        span{
            color:$light;
            font-family: OpenSans-Light;
            &:last-of-type{
                font-family: OpenSans-Bold;
                margin-left: 40px;
            }
        }
    }
}
/**************************** NIEUWS ********************************/
.nieuws{
    .nieuws-item{
        display: flex;
        padding: 20px 0;
        margin: 0 20px 30px;

        &:not(:last-child){
            border-bottom: 1px solid $border;
        }

        > img{
            width: 79px;
        }

        .nieuws-text{
            color:$light;

            div{
                display: flex;
                justify-content: space-between;
                width: calc(380px - 125px);
                margin-left:20px;
                p{
                    font-family: OpenSans-Light;
                    align-self: center;
                }
                img{
                    cursor: pointer;
                }
            } 
           >p{
            font-family: OpenSans-Bold;
               margin-left: 20px;
           }
        }
    }
}
/**************************** DIRECT ********************************/
.direct{
    padding: 20px;
}
.direct-item{
    display: flex;
    padding: 20px 0;
    &:not(:last-child){
        border-bottom: 1px solid $border;
    }
    div{
        display: flex;
        justify-content: center;
        width:80px;
    }
    p{
        align-self: center;
        font-family: OpenSans-Bold;
        font-size: 18px;
        margin-left: 10px;
    }
}
/**************************** BLOGS ********************************/
.blogs{
    padding: 20px 15px 30px;

}
.blogHeader{
    display: flex;
    margin-bottom: 20px;

    .blogTitle{
        p{
            color:$light;
            font-family: OpenSans-Bold;
            font-size: 14px;

            &:last-child{
                font-family: OpenSans-Light;
                margin-top: 8px;
            }
        }
    }
}
.blogImage{
    width:57px;
    overflow: hidden;
    img{
        width: 100%;
        border-radius: 50%;
    }
}
.blogData{
    display: flex;
    justify-content: space-between;
    width: calc(380px - 90px);
    margin-left: 20px;
}
.blogBody{
    color:$light;
    font-size: 14px;
    h2{
        font-family: OpenSans-Bold;
        margin-bottom: 7px;
    }
    p{
        font-family: OpenSans-Light;
    }
}
/**************************** KWALITEITSHANDBOEK ********************************/
.Kwaliteitshandboek{
    padding: 20px;
}
.Kwaliteitshandboek-item{
    padding: 15px 0;
    font-size: 14px;
    color: $light;
    h3{
        font-family: OpenSans-Bold;
        margin-bottom: 5px;
    }
    p{
        font-family: OpenSans-Light;
    }
}
