.widget {
  border: solid 1px #dae4ee;
  margin-bottom: 20px;
  overflow: hidden;
  .accordion {
    & + .accordion {
      margin-top: 10px;
    }
  }
}
.widgetName {
  color: $orange;
  font-size: 16px;
  font-family: OpenSans-Bold;
}
.widgetHeader {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.header-part-one {
  display: flex;
  i {
    background: $icons-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
  }
  .widgetName {
    align-self: center;
    margin-left: 10px;
  }
}
.header-part-two {
  display: flex;
  i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    &:last-of-type {
      background: $icons-background;
    }
  }
}
.widget-footer {
  background: $widget-footer;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  p {
    font-family: OpenSans-Light;
    color: $light;
    align-self: center;
    margin-left: 15px;
  }
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    background: $widget-header;
  }
}
/**************************** ACCORDION *****************************/
.accordion-header {
  display: flex;
  justify-content: space-between;
  background: $icons-background;
  padding: 15px 12px;
  cursor: pointer;
  &.active,
  &:hover {
    background: $light;
  }
}
.accordion-icon {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(90deg);
}
.accordion-body {
  overflow: hidden;
  max-height:0px;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);  
  &.active {
    transition: max-height 2s ease-in-out;
    max-height: 1000px;
  }
}
.accordionText {
  font-family: OpenSans-Regular;
  color: $light;
  font-size: 14px;
  padding: 20px;
}
/**************************** EVENEMENTEN *****************************/
.evenementen {
  padding: 30px 20px;
  div {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
    span {
      color: $light;
      font-family: OpenSans-Light;
      &:last-of-type {
        font-family: OpenSans-Bold;
        margin-left: 40px;
      }
    }
  }
}
/**************************** NIEUWS ********************************/
.nieuws {
  .nieuws-item {
    display: flex;
    padding: 20px 0;
    margin: 0 20px 30px;

    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }

    > img {
      width: 79px;
    }

    .nieuws-text {
      color: $light;
      width: calc(100% - 9px);

      div {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        p {
          font-family: OpenSans-Light;
          align-self: center;
        }
        img {
          cursor: pointer;
        }
      }
      > p {
        font-family: OpenSans-Bold;
        margin-left: 20px;
      }
    }
  }
}
/**************************** DIRECT ********************************/
.direct {
  padding: 20px;
}
.direct-item {
  display: flex;
  padding: 20px 0;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
  div {
    display: flex;
    justify-content: center;
    width: 80px;
  }
  p {
    align-self: center;
    font-family: OpenSans-Bold;
    font-size: 18px;
    margin-left: 10px;
  }
}
/**************************** BLOGS ********************************/
.blogs {
  padding: 20px 15px 30px;
}
.blogHeader {
  display: flex;
  margin-bottom: 20px;

  .blogInfo {
    p {
      color: $light;
      font-family: OpenSans-Bold;
      font-size: 14px;

      &:last-child {
        font-family: OpenSans-Light;
        margin-top: 8px;
      }
    }
  }
}
.blogImage {
  width: 57px;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
.blogData {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 77px);
  margin-left: 20px;
}
.blogBody {
  color: $light;
  font-size: 14px;
  h2 {
    font-family: OpenSans-Bold;
    margin-bottom: 7px;
  }
  p {
    font-family: OpenSans-Light;
  }
}
/**************************** KWALITEITSHANDBOEK ********************************/
.Kwaliteitshandboek {
  padding: 20px;
}
.Kwaliteitshandboek-item {
  padding: 15px 0;
  font-size: 14px;
  color: $light;
  h3 {
    font-family: OpenSans-Bold;
    margin-bottom: 5px;
  }
  p {
    font-family: OpenSans-Light;
  }
}
/**************************** PEILINGEN ********************************/
.peilingen {
  padding: 20px;
  p {
    color: $light;
    font-family: OpenSans-Light;
    margin: 23px 0;
  }
}
/**************************** Links ********************************/
.links {
  p {
    padding: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
    a {
      font-family: OpenSans-Bold;
      color: $light;
    }
  }
}
/**************************** TELEFOONBOEK ********************************/
.telefoonboek {
  background-color: $blue;
  background-image: url('/images/telephone.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #fff;
  padding: 30px 20px;
  font-family: OpenSans-Bold;

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.telefonForm {
  margin-bottom: 20px;

  div {
    position: relative;
    overflow: hidden;
    input {
      width: calc(100% - 44px);
      height: 32px;
      border: none;
      padding: 0 39px 0 10px;
    }
    button {
      position: absolute;
      right: 45px;
      height: 100%;
      padding-top: 3px;
    }
  }
}
/**************************** GROEPEN ********************************/
.groepen {
  padding: 20px;
}
.groepen-item {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }

  p {
    align-self: center;
    margin-left: 20px;
    font-family: OpenSans-Bold;
    color: $light;
    cursor: pointer;
  }

  img {
    cursor: pointer;
  }
}
/**************************** MICROBLOG ********************************/
.microblog {
  padding: 20px;

  textarea {
    width: 100%;
    height: 180px;
    resize: none;
    border: 2px solid $border;
    padding: 5px;
  }

  .addBlog {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;

    img {
      cursor: pointer;
    }

    input[type='button'] {
      background: $blue;
      color: #fff;
      font-family: OpenSans-Bold;
      padding: 5px 28px;
      align-self: center;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .blogTitle {
    font-family: OpenSans-Light;
    font-size: 14px;
    color: $light;
    margin-bottom: 30px;
  }
  .blogMainImage {
    max-width: 100%;
  }
  .reacties {
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: $light;
    margin-top: 20px;
  }
}
